body {

    margin: 0px;
}

header {
    position: fixed;
    width: 100%;
    padding: 1em;
}

header nav {
    font-family: helvetica;
    text-align: right;
    margin: 0 5vw 0 0;
}

header nav a {
    text-decoration: none;
    color: #000000;
    padding-left: 4px;
}

header nav a:hover {
    text-decoration-line: line-through;
}

.logo img {

    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.splash img {

    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionwrapper {

    display: flex;
    justify-content: center;
    line-height: 1.8;
    margin: 20px 50px;
}


.top {}

.column {}
