body {

    margin: 0px;
}

h2 {

    font-family: 'Poppins', sans-serif;
    font-size: 40px;

}

h3 {

    font-family: 'Poppins', sans-serif;
}

p {

    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    padding: 1em;
}

header nav {
    font-family: 'Poppins', sans-serif;
    margin: 0 5vw 0 0;
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: #000000;
    padding-left: 4px;
}

header nav a: hover {
    text-decoration-line: line-through;
}

.logo {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.splash img {

    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sectionwrapper {

    display: flex;
    justify-content: center;
    line-height: 1.8;
    margin: 20px 50px;
}


.top {}

.column {}
